<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>809723687154-gh33pn0l5pe7opfiqe7l6j2pppo5fq30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.809723687154-gh33pn0l5pe7opfiqe7l6j2pppo5fq30</string>
	<key>API_KEY</key>
	<string>AIzaSyA-GuqamLQjDmVajPe4GXsuGkEHkTctgwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>809723687154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.recipeApp</string>
	<key>PROJECT_ID</key>
	<string>recipeapp-d3f42</string>
	<key>STORAGE_BUCKET</key>
	<string>recipeapp-d3f42.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:809723687154:ios:0baf0977156cb9e6b0a06b</string>
</dict>
</plist>